.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  height: 100px;
  position: relative;
  background-color:#eee;
  border:3px solid black;
  font-size:35px;
}

ul li a:hover{
  display:inline-block;
  text-decoration: none;
}

ul {
  position:absolute;
  top:0;
  left:0;
  list-style:none;
  font-size:20px;
}

.img  {
  width:500px;
  height:auto;
  padding:10px;
}



.boxTwo{
  border:3px solid black;
  height:100px;
  width:100%;
  background-color:#eee;
}

.foot{
  text-align:center;
  padding:35px;
  font-size:35px;
}
