h1, h2 {
    text-align: center;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

h1 {
    color: darkgreen;
}

.div{
    font-family: Georgia;
}

p {
 line-height: 25px;   
}

#cia-guy {
    float: left;
    padding: 0 15px 15px 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: blue;
}

