* {
  box-sizing:border-box;
}

.section-one{
  background-image:url("css-zen.jpg");
  height:280px;
}
.logo {
  height:120px;
  width:120px;
  margin:75px;
}

h1 {
  text-align:center;
  display:block;
  font-size:px;
  vertical-align: middle;
  font-size:60px;
  color:#fff;
  font-family: 'Saira Semi Condensed', sans-serif;
}

span {
    text-align:left;
    font-size:35px;
    color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
    opacity: 0.5;
    font-style: italic;
}

.floated {
  display:inline-block;
}
.viewall {
  height:50px;
  border:1px solid #325050;
  font-size:28px;
  width:auto;
  display:inline-block;
  color:white;
  opacity:0.5;
  position:absolute;
  right:0;
  background-color:#325050;
}

.text{
  text-align:left;
  font-size:20px;
  margin-left: 80px;
  padding:15px;
}

.enlighten {
  font-size:40px;
}

body {
color: #325050;
background: #fff;
font-family: 'Saira Semi Condensed', sans-serif;
font-size: 70%;
}

.section-two{
    background-image:url("koi-zen.jpg");
    height: 280px;
}

.footer-section {
  background-color:#325050;
}

#foot {
  height:170px;

}
.iconic{
  color: #809b7e;
}

li {
  list-style:none;
}
