* {
  box-sizing:border-box;
}

.section-one{
  background-image:url("css-zen.jpg");
  height:280px;
}
.logo {
  height:120px;
  width:120px;
  margin:75px;
}

h1 {
  /*text-align:center;*/
  display:block;
  font-size:px;
  vertical-align: middle;
  font-size:60px;
  color:#fff;
  font-family: 'Saira Semi Condensed', sans-serif;
}

span {
    text-align:left;
    font-size:35px;
    color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
    opacity: 0.5;
    font-style: italic;
}

.floated {
  display:inline-block;
}
.viewall {
  height:50px;
  border:1px solid #325050;
  font-size:28px;
  width:auto;
  display:inline-block;
  color:white;
  opacity:0.5;
  position:absolute;
  right:0;
  background-color:#325050;
}

.text{
  text-align:left;
  font-size:20px;
  margin-left: 80px;
  padding:15px;
}

.enlighten {
  font-size:40px;
}

body {
color: #325050;
background: #fff;
font-family: 'Saira Semi Condensed', sans-serif;
font-size: 70%;
}

.section-two{
    background-image:url("koi-zen.jpg");
    height: 280px;
}

.footer-section {
  background-color:#134347;
  height:170px;
}


}
a.iconic{
  color: #809b7e;
}

li {
  list-style:none;

}
h4 {
  font-weight:bolder;
}
em {
  opacity:0.4;
}
.image-footer{
  font-size:40px;
  font-style:italic;
  color: rgba(255, 255, 255, 0.4);
}
.img-foot{
  font-style: normal;
  text-decoration:none;
  color: rgba(255, 255, 255, 0.8);
  opacity:initial;
}
.img-foot:hover{
  color:white;
  text-decoration: underline;
  cursor:pointer;
  text-align: center;
}

a.sidebar{
  color: #607476;
}
a:hover{
  color: #c0cac3;
  text-decoration: underline;
  cursor:pointer;
}

.footer-section ul{
  text-align:center;
}
.footer-section ul li{
  display:inline-block;
  font-size:75px;
  color:white;
  opacity:0.4;
  padding:40px;

}
